# Компилированные бинарные файлы (выполняемые и библиотеки)
*.exe
*.out
*.app
*.so
*.dylib
*.dll

# Компилированные объектные файлы
*.o
*.obj

# Временные файлы компилятора
*.gch
*.pch

# Каталоги и файлы CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Каталоги и файлы Autotools
*.lo
*.la
*.al
autom4te.cache/
*.in~
*.swp

# Логи и временные файлы
*.log
*.tmp

# Каталоги и файлы среды разработки Visual Studio
*.ncb
*.sdf
*.opensdf
*.suo
*.VC.db
*.VC.opendb
.vscode/
.vs/
.v17/
x64/

# Каталоги и файлы среды разработки CLion (JetBrains)
.idea/
*.iws
*.iml
*.ipr
cmake-build-debug/

# Каталоги и файлы среды разработки Eclipse
.settings/
.metadata/
*.tmp
*.bak
*.swp
*.markers
*.log
bin/

# Каталоги и файлы Code::Blocks
*.layout
*.depend
*.layout.*
*.depend.*

# Каталоги и файлы CodeLite
*.project
*.workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db