
*.exe
*.out
*.app
*.so
*.dylib
*.dll


*.o
*.obj


*.gch
*.pch

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.lo
*.la
*.al
autom4te.cache/
*.in~
*.swp

*.log
*.tmp

*.ncb
*.sdf
*.opensdf
*.suo
*.VC.db
*.VC.opendb
*.vcxproj.user
.vscode/
.vs/
.v17/
x64/

.idea/
*.iws
*.iml
*.ipr
cmake-build-debug/

.settings/
.metadata/
*.tmp
*.bak
*.swp
*.markers
*.log
bin/

*.layout
*.depend
*.layout.*
*.depend.*

*.project
*.workspace

.DS_Store

Thumbs.db
ehthumbs.db